* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-image: url(../assets/back2.png);
  font-family: "Roboto", sans-serif;
  color: #e1e1e6;
  background-size: cover;
  height: 100vh;
}

h1 {
  font-size: 4.8rem;
  line-height: 125%;
  margin-left: 10.2rem;
  margin-top: 18.5rem;
}

p {
  font-size: 1.8rem;
  margin-left: 10.2rem;
  margin-top: 1.6rem;
  line-height: 160%;
  width: 64.8rem;
}
